:root{
    --first-color:rgb(207, 93, 6);
    --second-color: rgb(24, 24, 24);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, rgb(38, 0, 58), rgb(1, 1, 45), rgb(41, 19, 1));
}

/* header nav */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed;
    width: 100%;
    top: 0;
    left: 0; */
    padding: 20px 10%;
    background-color:black;
}
.nav-logo a{
    color: var(--first-color);
    font-size: 34px;
    font-weight: 600;
    text-decoration: none;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-list li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}
.nav-list li a:hover{
    color: var(--first-color);
}
.nav-toggle{
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.nav-search{
    display: flex;
    align-items: center;
}
.nav-search input{
    padding: 10px;
    outline:none;
    border: 2px solid var(--first-color);
    border-right: none;
    border-radius: 5px 0 0 5px;
    background-color: transparent;
    color: white;
}
.nav-search button{
    padding: 10px 10px;
    border: 2px solid var(--first-color);
    background-color: var(--first-color);
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
.nav-search button:hover{
    background-color: transparent;
    color:white;
    transition: 0.3s;
}
.nav-menu .active{
    color: var(--first-color);
}

/* home section */
.hero{
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-height: calc(100vh - 90px);
    color: white;
    gap: 30%;
    margin:0 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}
.hero-content{
    display: grid;
    gap: 20px;
}
.hero-content .starting-date:first-child{
    color: var(--first-color);
    width:fit-content;
    border: 2px solid var(--first-color);
    padding: 5px 10px;
    border-radius: 50px;
    box-shadow:inset 0 0 20px var(--first-color);
}
.hero-content h2{
    color: var(--first-color);
    font-size: 2rem;
}
.hero-buttons {
    display: flex;
    gap: 20px;
}
.hero-buttons a{
    padding: 10px 20px;
   text-decoration: none;
    color: white;
    border: 2px solid var(--first-color);
    border-radius: 5px;
    transition: 0.3s;
    background-color: var(--first-color);
}
.hero-buttons a:last-child{
    background-color: transparent;
}
.hero-buttons a:hover{
    background-color: transparent;
    color: var(--first-color);
}
.hero-buttons a:last-child:hover{
    background-color: var(--first-color);
    color: white;
}
.imp-hero{
    display: flex;
    gap: 40px;
}
.imp-hero span{
    color:gray;
}

/* hero input section */
.hero-input{
    background-color: transparent 0.9;
    display:grid;
    gap: 5px;
    width: 450px;
    padding:20px 30px;
        border: 2px solid gray;
        border-radius: 10px;
}
.hero-input h2{
    font-size: 1.5rem;
}
.hero-input p {
    color: gray;
    margin-bottom: 20px;
}
.hero-input input{
    padding: 10px;
    outline:none;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: transparent;
    color: white;

}
.f-pass{
    text-align: right;
    color: var(--first-color);
}
.f-pass a{
    color: var(--first-color);
    text-decoration: none;
}
.sign-in-btn{
    padding: 10px 20px;
    border: 2px solid var(--first-color);
    background-color: var(--first-color);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    text-decoration: none;
    text-align: center;
}
.sign-in-btn:hover{
    background-color: transparent;
    color: var(--first-color);
}
.divider{
    margin:10px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: gray;
}
.divider::before,
.divider::after{
    content: '';
    flex: 1;
    height: 2px;
    background-color: gray;
}
.social-link{
    display:grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.social-link a{
    color:white;
    text-decoration: none;
    border: 2px solid gray;
    padding: 10px;
    text-align: center;
    border-radius: 5px;

}
.social-link a:hover{
    border-color: var(--first-color);
    color: var(--first-color);
    transition: 0.3s;
}
.hero-input p:last-child{
    text-align: center;
    margin-top: 20px;
}
.hero-input p:last-child a{
    color: var(--first-color);
    text-decoration: none;
}